body {
  background-color: white;
  color: black;

  h1, h2{
    text-align: center;
  }

  hr{
    margin: 10px 0px;
  }

  #changesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 20px;
    padding-bottom: 10px;
    align-items: flex-start;

    h3 {
      text-align: center;
    }

    .updateLogOneDate {
      border: solid 2px black;
      margin-bottom: 10px;
      display: grid;
      grid-template-columns: 1fr 80px;
      justify-content: space-between;
      font-size: 16px;

      .dateHolder {
        grid-column: span 2;
        font-size: 12px;
      }

      .changedRootOrdering {
        grid-column: span 2;
        border-top: solid 1px #aaa;
      }

      .fNameContainer {
        border-top: solid 1px #aaa;
      }

      .statusContainer {
        text-align: end;
        border-left: solid 1px #aaa;
        border-top: solid 1px #aaa;
      }

      span{
        padding: 1px 4px;
      }
    }
  }
}